.footer{
    margin-left: 7px;
    background: #fff;
    width: 95%;
    border-radius: 20px;
    overflow: hidden;
    padding: 15px 15px 30px 30px;
    padding-bottom: 15px;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.1);
}
.footer-p1{
    float: left;
    color:rgb(180, 180, 180);
}
.footer-p2{
    float: right;
    color:rgb(180, 180, 180);
}
.footer-p2 span{
    color: #00d0ff;
}
.clear-fix{
    clear: both;
}
@media (max-width: 767px ){/* mobile & tablet*/
}
@media (min-width: 768px) and (max-width:991px){ /* small screen */ 

}
@media (min-width: 992px) and (max-width:1199px) { /* medium screen */

}