<!-- <div class="bo"> -->
    <div class="header" id="header">
      <div class="container">
        <div class="row">
      <div class="mail-message-search col-md-5">
        <input type="search" placeholder="Search">
         <a class="search-link" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
      </div>
        <div class="icon col-md-4">
            <ul class="ul">  
              <li class="dropdown ellipsis"><a>
                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
              </a></li>
              <li class="dropdown bars"><a>
                <i class="fa fa-bars" aria-hidden="true"></i>
              </a></li>
              <li class="dropdown"> 
                  <a class="" role="button"><img src="assets/images/flag-01.png"> English 
                    <i class="fa fa-sort-desc" aria-hidden="true"></i>
                </a> 
                   <div class="sub-drop">
                   <ul class="dropdown-menub" role="menu">

                         <li><a><img src="assets/images/flag-02.png"> French</a></li>
                         <li><a>Italian</a></li>
                         <li><a>German</a></li>
                         <li><a>Japanes</a></li>
                       </ul></div>                
              </li>                             
              <li class="dropdown"><a class="" role="button">
                       <i class="fa fa-envelope" aria-hidden="true"></i>
                       <span class="bg-danger dots"></span>
                         </a>                
             </li> 
             <li class="dropdown"><a class="" role="button">
                           <i class="fa fa-bell" aria-hidden="true"></i>
                           <span class="bg-primary count-mail"></span>
                           </a>                       
              </li> 
                             <div class="clear-fix"></div>
        
            </ul>
        </div>
        <div class="clear-fix"></div>
  
            
      </div>
    </div>
  </div>
<!-- </div> -->