<div class="bo">
        <app-navbar></app-navbar>
        <div class="mail">
                <div class="mail-navbar">
                        <a><button><i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                                        New Message</button></a>
                        <ul>
                                <li data-class="inbox" class="selected"><a><i class="fa fa-envelope-o"
                                                        aria-hidden="true"></i> inbox</a></li>
                                <li data-class="starred"><a><i class="fa fa-star-o" aria-hidden="true"></i>
                                                Starred</a></li>
                                <li data-class="snoozed"><a><i class="fa fa-clock-o" aria-hidden="true"></i>
                                                Snoozed</a></li>
                                <li data-class="draft"><a><i class="fa fa-list-alt" aria-hidden="true"></i>
                                                Draft</a></li>
                                <li data-class="sentmail"><a><i class="fa fa-envelope-o" aria-hidden="true"></i>
                                                Sent Mail</a></li>
                                <li data-class="trach"><a><i class="fa fa-trash" aria-hidden="true"></i>
                                                Trash</a></li>
                                <li data-class="important"><a><i class="fa fa-folder-o" aria-hidden="true"></i>
                                                Important</a></li>
                                <li data-class="spam"><a><i class="fa fa-superpowers" aria-hidden="true"></i>
                                                Spam</a></li><br>
                                <h5>Labels</h5>
                                <li><a><i class="fa fa-stop-circle-o" aria-hidden="true"></i>
                                                Personal</a></li>
                                <li><a><i class="fa fa-stop-circle-o" aria-hidden="true"></i>
                                                Company</a></li>
                                <li><a><i class="fa fa-stop-circle-o" aria-hidden="true"></i>
                                                Important</a></li>
                                <li><a><i class="fa fa-stop-circle-o" aria-hidden="true"></i>
                                                private</a></li>
                                <li><a><i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                Add New Labels</a></li>
                        </ul>
                </div>
<div class="mail-message">
  <div class="mail-message-search">
    <input type="search" placeholder="Search">
     <a class="search-link" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
  </div>
  <div class="icons">
    <ul class="icon1">
        <li><a><i class="fa fa-refresh" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-envelope-o" aria-hidden="true"></i>
                                                </a></li>
        <li><a><i class="fa fa-trash" aria-hidden="true"></i>
                                                </a></li>
        <li><a><i class="fa fa-inbox" aria-hidden="true"></i>
                                                </a></li>
        <li><a><i class="fa fa-circle-o-notch" aria-hidden="true"></i>
                                                </a></li>
        </ul>
        <ul class="icon2">
           <li><a><i class="fa fa-cog" aria-hidden="true"></i>
                                                </a></li>
           <li><a><i class="fa fa-search-plus" aria-hidden="true"></i>
                                                </a></li>
           <li><a class="a"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
           <li><a class="a"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
        </ul>
           <div class="clear-fix"></div>
             <div class="inbox1">
                <div class="inbox">
                   <div class="front inbox-first">
                      <div class="name">
                        <a><i class="fa fa-star-o a" aria-hidden="true"></i>
                        Jopper Xiong(Me)</a>
                        </div>
                        <div class="content">
                         <p>Mackenzie Binio(@MackenzieBinio)has sent you a direct
                          ...</p>
                        </div>
                        <div class="time">
                         <p>08:00 am</p>
                        </div>
                        <div class="clear-fix"></div>
                    </div>
                    <div class="line"></div>
                    <div class="hidden-icon">
                      <ul class="icon1">
                        <li><a><i class="fa fa-envelope-o" aria-hidden="true"></i>
                                         </a></li>
                        <li><a><i class="fa fa-trash" aria-hidden="true"></i>
                                         </a></li>
                        <li><a><i class="fa fa-inbox" aria-hidden="true"></i>
                                         </a></li>
                        <li><a><i class="fa fa-circle-o-notch" aria-hidden="true"></i>
                                          </a></li>
                       </ul>
                    </div>
                   <div class="back">
                      <ul class="icon1">
                        <li> <a><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
                        </li>                                                                
                        <li><a><i class="fa fa-refresh" aria-hidden="true"></i></a></li>
                        <li><a><i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </a></li>
                        <li><a><i class="fa fa-trash" aria-hidden="true"></i>
                        </a></li>
                        <li><a><i class="fa fa-inbox" aria-hidden="true"></i>
                        </a></li>
                        <li><a><i class="fa fa-circle-o-notch" aria-hidden="true"></i>
                        </a></li>
                      </ul>
                      <ul class="icon2">
                        <li><a class="a"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                        <li><a class="a"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                      </ul>
                      <div class="clear-fix"></div>
                      <div class="line"></div>
                    <h5>Your elite author Graphic Optimization reward is ready!</h5>
                        <div class="back-image"><img src="assets/images/01.jpg"></div>
                        <div class="back-header">
                           <p>XRay team</p>
                           <p>to me</p>
                        </div>
                        <div class="clear-fix"></div>
                        <p>Hi Jopour Xiong,</p>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p><br>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p><br>

                        <p>Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p><br><br>
                        <p>Regards,</p>
                        <p>John Deo</p>
                        <div class="line"></div>
                        <p>ATTACHED FILES:</p>
                        <p><i class="fa fa-file-text-o" aria-hidden="true"></i>
                                mydoc.doc</p>
                        <p class="back-end-p"><i class="fa fa-file-text-o" aria-hidden="true"></i>
                                mydoc.pdf</p>

                        </div>
                <div class="front">
                  <div class="name">
                   <a><i class="fa fa-star-o" aria-hidden="true"></i>
                                Deray Billings(Me)</a>
                   </div>
                   <div class="content">
                    <p>Mackenzie Binio(@MackenzieBinio)has sent you a direct
                      ...</p>
                   </div>
                  <div class="time">
                  <p>08:15 am</p>
                  </div>
                <div class="clear-fix"></div>
                </div>
                <div class="line"></div>
                <div class="hidden-icon">
                  <ul class="icon1">
                    <li><a><i class="fa fa-envelope-o" aria-hidden="true"></i>
                                     </a></li>
                    <li><a><i class="fa fa-trash" aria-hidden="true"></i>
                                     </a></li>
                    <li><a><i class="fa fa-inbox" aria-hidden="true"></i>
                                     </a></li>
                    <li><a><i class="fa fa-circle-o-notch" aria-hidden="true"></i>
                                      </a></li>
                   </ul>
                </div>
                <div class="front">
                   <div class="name">
                   <a><i class="fa fa-star-o" aria-hidden="true"></i> Lauran Durey(Me)</a>
                  </div>
                <div class="content">
                  <p>Mackenzie Binio(@MackenzieBinio)has sent you a direct ...</p>
                </div>
                <div class="time">
                  <p>11:00 am</p>
                </div>
                <div class="clear-fix"></div>
              </div>
              <div class="line"></div>
              <div class="hidden-icon">
                <ul class="icon1">
                  <li><a><i class="fa fa-envelope-o" aria-hidden="true"></i>
                                   </a></li>
                  <li><a><i class="fa fa-trash" aria-hidden="true"></i>
                                   </a></li>
                  <li><a><i class="fa fa-inbox" aria-hidden="true"></i>
                                   </a></li>
                  <li><a><i class="fa fa-circle-o-notch" aria-hidden="true"></i>
                                    </a></li>
                 </ul>
              </div>
                <div class="front">
                   <div class="name">
                   <a><i class="fa fa-star-o" aria-hidden="true"></i> Fabian Ros(Me)</a>
                   </div>
                <div class="content">
                  <p>Mackenzie Binio(@MackenzieBinio)has sent you a direct ...</p>
                </div>
                <div class="time">
                  <p>11:50 am</p>
                </div>
              <div class="clear-fix"></div>
            </div>
            <div class="line"></div>
            <div class="hidden-icon">
              <ul class="icon1">
                <li><a><i class="fa fa-envelope-o" aria-hidden="true"></i>
                                 </a></li>
                <li><a><i class="fa fa-trash" aria-hidden="true"></i>
                                 </a></li>
                <li><a><i class="fa fa-inbox" aria-hidden="true"></i>
                                 </a></li>
                <li><a><i class="fa fa-circle-o-notch" aria-hidden="true"></i>
                                  </a></li>
               </ul>
            </div>
        </div>
          </div>
                                <div class="starred">
                                        <div class="front">
                                                <div class="name">
                                      <a><i class="fa fa-star-o " aria-hidden="true"></i> Diex Xiong(Me)</a>
                                            </div>
                    
                                            <div class="content">
                                                    <p>Mackenzie Binio(@MackenzieBinio)has sent you a direct ...</p>
                                            </div>
                                            <div class="time">
                                                    <p>12:00 am</p>
                                            </div>
                                            <div class="clear-fix"></div>
                                            </div>
                                            <div class="line"></div>
                                            <div class="hidden-icon">
                                              <ul class="icon1">
                                                <li><a><i class="fa fa-envelope-o" aria-hidden="true"></i>
                                                                 </a></li>
                                                <li><a><i class="fa fa-trash" aria-hidden="true"></i>
                                                                 </a></li>
                                                <li><a><i class="fa fa-inbox" aria-hidden="true"></i>
                                                                 </a></li>
                                                <li><a><i class="fa fa-circle-o-notch" aria-hidden="true"></i>
                                                                  </a></li>
                                               </ul>
                                            </div>
                                           <div class="back">
                                              <ul class="icon1">
                                                <li> <a><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
                                                </li>                                                                
                                                <li><a><i class="fa fa-refresh" aria-hidden="true"></i></a></li>
                                                <li><a><i class="fa fa-envelope-o" aria-hidden="true"></i>
                                                </a></li>
                                                <li><a><i class="fa fa-trash" aria-hidden="true"></i>
                                                </a></li>
                                                <li><a><i class="fa fa-inbox" aria-hidden="true"></i>
                                                </a></li>
                                                <li><a><i class="fa fa-circle-o-notch" aria-hidden="true"></i>
                                                </a></li>
                                              </ul>
                                              <ul class="icon2">
                                                <li><a class="a"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                                                <li><a class="a"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                                              </ul>
                                              <div class="clear-fix"></div>
                                              <div class="line"></div>
                                            <h5>Your elite author Graphic Optimization reward is ready!</h5>
                                                <div class="back-image"><img src="assets/images/01.jpg"></div>
                                                <div class="back-header">
                                                   <p>XRay team</p>
                                                   <p>to me</p>
                                                </div>
                                                <div class="clear-fix"></div>
                                                <p>Hi Jopour Xiong,</p>
                                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p><br>
                                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p><br>
                        
                                                <p>Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p><br><br>
                                                <p>Regards,</p>
                                                <p>John Deo</p>
                                                <div class="line"></div>
                                                <p>ATTACHED FILES:</p>
                                                <p><i class="fa fa-file-text-o" aria-hidden="true"></i>
                                                        mydoc.doc</p>
                                                <p class="back-end-p"><i class="fa fa-file-text-o" aria-hidden="true"></i>
                                                        mydoc.pdf</p>
                                                </div>
                                                                                           
                                                <div class="front  snoozed-first">
                                                <div class="name">
                                      <a><i class="fa fa-star-o a" aria-hidden="true"></i> Megain Allen(Me)</a>
                                            </div>
                    
                                            <div class="content">
                                                    <p>Mackenzie Binio(@MackenzieBinio)has sent you a direct ...</p>
                                            </div>
                                            <div class="time">
                                                    <p>08:00 am</p>
                                            </div>
                                            <div class="clear-fix"></div>
                                            </div>
                                            <div class="line"></div>
                                            <div class="front">
                                                <div class="name">
                                      <a><i class="fa fa-star-o" aria-hidden="true"></i> Jopper Xiong(Me)</a>
                                            </div>
                    
                                            <div class="content">
                                                    <p>Mackenzie Binio(@MackenzieBinio)has sent you a direct ...</p>
                                            </div>
                                            <div class="time">
                                                    <p>08:00 am</p>
                                            </div>
                                            <div class="clear-fix"></div>
                                            <div class="line"></div>
                                            </div>
                                            <div class="line"></div>                      
                                        
                                </div>
                                <div class="snoozed">
                                        <div class="front">
                                                <div class="name">
                                      <a><i class="fa fa-star-o" aria-hidden="true"></i> Jopper Xiong(Me)</a>
                                            </div>
                    
                                            <div class="content">
                                                    <p>Mackenzie Binio(@MackenzieBinio)has sent you a direct ...</p>
                                            </div>
                                            <div class="time">
                                                    <p>08:00 am</p>
                                            </div>
                                            <div class="clear-fix"></div>
                                            </div>
                                            <div class="line"></div>
                                            <div class="back">
                                                <ul class="icon1">
                                                  <li> <a><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
                                                  </li>                                                                
                                                  <li><a><i class="fa fa-refresh" aria-hidden="true"></i></a></li>
                                                  <li><a><i class="fa fa-envelope-o" aria-hidden="true"></i>
                                                  </a></li>
                                                  <li><a><i class="fa fa-trash" aria-hidden="true"></i>
                                                  </a></li>
                                                  <li><a><i class="fa fa-inbox" aria-hidden="true"></i>
                                                  </a></li>
                                                  <li><a><i class="fa fa-circle-o-notch" aria-hidden="true"></i>
                                                  </a></li>
                                                </ul>
                                                <ul class="icon2">
                                                  <li><a class="a"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                                                  <li><a class="a"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                                                </ul>
                                                <div class="clear-fix"></div>
                                                <div class="line"></div>
                                              <h5>Your elite author Graphic Optimization reward is ready!</h5>
                                                  <div class="back-image"><img src="assets/images/0.jpg"></div>
                                                  <div class="back-header">
                                                     <p>XRay team</p>
                                                     <p>to me</p>
                                                  </div>
                                                  <div class="clear-fix"></div>
                                                  <p>Hi Jopour Xiong,</p>
                                                  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p><br>
                                                  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p><br>
                          
                                                  <p>Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p><br><br>
                                                  <p>Regards,</p>
                                                  <p>John Deo</p>
                                                  <div class="line"></div>
                                                  <p>ATTACHED FILES:</p>
                                                  <p><i class="fa fa-file-text-o" aria-hidden="true"></i>
                                                          mydoc.doc</p>
                                                  <p class="back-end-p"><i class="fa fa-file-text-o" aria-hidden="true"></i>
                                                          mydoc.pdf</p>
                                                  </div>







                                            <div class="front">
                                                <div class="name">
                                      <a><i class="fa fa-star-o " aria-hidden="true"></i> Jopper Xiong(Me)</a>
                                            </div>
                    
                                            <div class="content">
                                                    <p>Mackenzie Binio(@MackenzieBinio)has sent you a direct ...</p>
                                            </div>
                                            <div class="time">
                                                    <p>08:00 am</p>
                                            </div>
                                            <div class="clear-fix"></div>
                                            <div class="line"></div>
                                            </div>
                                            <div class="line"></div>
                                            <div class="front">
                                                <div class="name">
                                      <a><i class="fa fa-star-o" aria-hidden="true"></i> Jopper Xiong(Me)</a>
                                            </div>
                    
                                            <div class="content">
                                                    <p>Mackenzie Binio(@MackenzieBinio)has sent you a direct ...</p>
                                            </div>
                                            <div class="time">
                                                    <p>08:00 am</p>
                                            </div>
                                            <div class="clear-fix"></div>
                                            <div class="line"></div>
                                            </div>
                                            <div class="back"></div>
                                            <div class="front">
                                                <div class="name">
                                      <a><i class="fa fa-star-o" aria-hidden="true"></i> Jopper Xiong(Me)</a>
                                            </div>
                    
                                            <div class="content">
                                                    <p>Mackenzie Binio(@MackenzieBinio)has sent you a direct ...</p>
                                            </div>
                                            <div class="time">
                                                    <p>08:00 am</p>
                                            </div>
                                            <div class="clear-fix"></div>
                                            <div class="line"></div>
                                            </div>
                                            <div class="back"></div>
                                            <div class="front">
                                                <div class="name">
                                      <a><i class="fa fa-star-o" aria-hidden="true"></i> Jopper Xiong(Me)</a>
                                            </div>
                    
                                            <div class="content">
                                                    <p>Mackenzie Binio(@MackenzieBinio)has sent you a direct ...</p>
                                            </div>
                                            <div class="time">
                                                    <p>08:00 am</p>
                                            </div>
                                            <div class="clear-fix"></div>
                                            <div class="line"></div>
                                            </div>
                                            <div class="back"></div>
                                </div>
                                <div class="draft">
                                        <div class="front">
                                                <div class="name">
                                      <a><i class="fa fa-star-o" aria-hidden="true"></i> Jopper Xiong(Me)</a>
                                            </div>
                    
                                            <div class="content">
                                                    <p>Mackenzie Binio(@MackenzieBinio)has sent you a direct ...</p>
                                            </div>
                                            <div class="time">
                                                    <p>08:00 am</p>
                                            </div>
                                            <div class="clear-fix"></div>
                                            <div class="line"></div>
                                            </div>
                                            <div class="back"></div>  
                                            <div class="front">
                                                <div class="name">
                                      <a><i class="fa fa-star-o" aria-hidden="true"></i> Jopper Xiong(Me)</a>
                                            </div>
                    
                                            <div class="content">
                                                    <p>Mackenzie Binio(@MackenzieBinio)has sent you a direct ...</p>
                                            </div>
                                            <div class="time">
                                                    <p>08:00 am</p>
                                            </div>
                                            <div class="clear-fix"></div>
                                            <div class="line"></div>
                                            </div>
                                            <div class="back"></div>
                                            <div class="front">
                                                <div class="name">
                                      <a><i class="fa fa-star-o" aria-hidden="true"></i> Jopper Xiong(Me)</a>
                                            </div>
                    
                                            <div class="content">
                                                    <p>Mackenzie Binio(@MackenzieBinio)has sent you a direct ...</p>
                                            </div>
                                            <div class="time">
                                                    <p>08:00 am</p>
                                            </div>
                                            <div class="clear-fix"></div>
                                            <div class="line"></div>
                                            </div>
                                            <div class="back"></div>
                                            <div class="front">
                                                <div class="name">
                                      <a><i class="fa fa-star-o" aria-hidden="true"></i> Jopper Xiong(Me)</a>
                                            </div>
                    
                                            <div class="content">
                                                    <p>Mackenzie Binio(@MackenzieBinio)has sent you a direct ...</p>
                                            </div>
                                            <div class="time">
                                                    <p>08:00 am</p>
                                            </div>
                                            <div class="clear-fix"></div>
                                            <div class="line"></div>
                                            </div>
                                            <div class="back"></div>
                                            <div class="front">
                                                <div class="name">
                                      <a><i class="fa fa-star-o" aria-hidden="true"></i> Jopper Xiong(Me)</a>
                                            </div>
                    
                                            <div class="content">
                                                    <p>Mackenzie Binio(@MackenzieBinio)has sent you a direct ...</p>
                                            </div>
                                            <div class="time">
                                                    <p>08:00 am</p>
                                            </div>
                                            <div class="clear-fix"></div>
                                            <div class="line"></div>
                                            </div>
                                            <div class="back"></div>
                                            <div class="front">
                                                <div class="name">
                                      <a><i class="fa fa-star-o" aria-hidden="true"></i> Jopper Xiong(Me)</a>
                                            </div>
                    
                                            <div class="content">
                                                    <p>Mackenzie Binio(@MackenzieBinio)has sent you a direct ...</p>
                                            </div>
                                            <div class="time">
                                                    <p>08:00 am</p>
                                            </div>
                                            <div class="clear-fix"></div>
                                            <div class="line"></div>
                                            </div>
                                            <div class="back"></div>
                                </div>
                                <div class="sentmail">
                                        <div class="front">
                                                <div class="name">
                                      <a><i class="fa fa-star-o" aria-hidden="true"></i> Jopper Xiong(Me)</a>
                                            </div>
                    
                                            <div class="content">
                                                    <p>Mackenzie Binio(@MackenzieBinio)has sent you a direct ...</p>
                                            </div>
                                            <div class="time">
                                                    <p>08:00 am</p>
                                            </div>
                                            <div class="clear-fix"></div>
                                            <div class="line"></div>
                                            </div>
                                            <div class="back"></div> 
                                </div>
                                <div class="trach">
                                        <div class="front">
                                                <div class="name">
                                      <a><i class="fa fa-star-o" aria-hidden="true"></i> Jopper Xiong(Me)</a>
                                            </div>
                    
                                            <div class="content">
                                                    <p>Mackenzie Binio(@MackenzieBinio)has sent you a direct ...</p>
                                            </div>
                                            <div class="time">
                                                    <p>08:00 am</p>
                                            </div>
                                            <div class="clear-fix"></div>
                                            <div class="line"></div>
                                            </div>
                                            <div class="back"></div>  
                                            <div class="front">
                                                <div class="name">
                                      <a><i class="fa fa-star-o" aria-hidden="true"></i> Jopper Xiong(Me)</a>
                                            </div>
                    
                                            <div class="content">
                                                    <p>Mackenzie Binio(@MackenzieBinio)has sent you a direct ...</p>
                                            </div>
                                            <div class="time">
                                                    <p>08:00 am</p>
                                            </div>
                                            <div class="clear-fix"></div>
                                            <div class="line"></div>
                                            </div>
                                            <div class="back"></div>
                                            <div class="front">
                                                <div class="name">
                                      <a><i class="fa fa-star-o" aria-hidden="true"></i> Jopper Xiong(Me)</a>
                                            </div>
                    
                                            <div class="content">
                                                    <p>Mackenzie Binio(@MackenzieBinio)has sent you a direct ...</p>
                                            </div>
                                            <div class="time">
                                                    <p>08:00 am</p>
                                            </div>
                                            <div class="clear-fix"></div>
                                            <div class="line"></div>
                                            </div>
                                            <div class="back"></div>
                                        
                                        
                                </div>
                                <div class="important">
                                        <div class="front">
                                                <div class="name">
                                      <a><i class="fa fa-star-o" aria-hidden="true"></i> Jopper Xiong(Me)</a>
                                            </div>
                    
                                            <div class="content">
                                                    <p>Mackenzie Binio(@MackenzieBinio)has sent you a direct ...</p>
                                            </div>
                                            <div class="time">
                                                    <p>08:00 am</p>
                                            </div>
                                            <div class="clear-fix"></div>
                                            <div class="line"></div>
                                            </div>
                                            <div class="back"></div>  
                                            <div class="front">
                                                <div class="name">
                                      <a><i class="fa fa-star-o" aria-hidden="true"></i> Jopper Xiong(Me)</a>
                                            </div>
                    
                                            <div class="content">
                                                    <p>Mackenzie Binio(@MackenzieBinio)has sent you a direct ...</p>
                                            </div>
                                            <div class="time">
                                                    <p>08:00 am</p>
                                            </div>
                                            <div class="clear-fix"></div>
                                            <div class="line"></div>
                                            </div>
                                            <div class="back"></div>
                                        
                                        </div>
                                <div class="spam">
                                        <div class="front">
                                                <div class="name">
                                      <a><i class="fa fa-star-o" aria-hidden="true"></i> Jopper Xiong(Me)</a>
                                            </div>
                    
                                            <div class="content">
                                                    <p>Mackenzie Binio(@MackenzieBinio)has sent you a direct ...</p>
                                            </div>
                                            <div class="time">
                                                    <p>08:00 am</p>
                                            </div>
                                            <div class="clear-fix"></div>
                                            <div class="line"></div>
                                            </div>
                                            <div class="back"></div>  
                                            <div class="front">
                                                <div class="name">
                                      <a><i class="fa fa-star-o" aria-hidden="true"></i> Jopper Xiong(Me)</a>
                                            </div>
                    
                                            <div class="content">
                                                    <p>Mackenzie Binio(@MackenzieBinio)has sent you a direct ...</p>
                                            </div>
                                            <div class="time">
                                                    <p>08:00 am</p>
                                            </div>
                                            <div class="clear-fix"></div>
                                            <div class="line"></div>
                                            </div>
                                            <div class="back"></div>
                                        
                         </div>

                        </div>


                </div>

                <div class="clear-fix"></div>




        </div>






















</div>