<div class="bo">
    <app-navbar></app-navbar>
    <div class="chat">
    <div class="contact">
        <h5 class="chat-h5">Contacts</h5>
        <ul>
            <li data-class="chat1" class="selected"><a><img src="assets/images/01.jpg"><div></div><h5>Dr.Anna Mull</h5></a></li>
            <li data-class="chat2"><a><img src="assets/images/04.jpg"><h5>Dr.Paul Molive</h5></a></li>
            <li data-class="chat3"><a><img src="assets/images/03.jpg"><h5>Dr.Terry Akishe</h5></a></li>
            <li><a><img src="assets/images/09.jpg"><div></div><h5>Dr.Poppa Cherry</h5>
            </a></li>
            <li><a><img src="assets/images/05.jpg"><h5>Dr.Anna Mull</h5></a></li>
            <li><a><img src="assets/images/06.jpg"><div></div><h5>Dr.Terry Akishe</h5></a></li>
            <li><a><img src="assets/images/07.jpg"><h5>Dr.Poppa Cherry</h5></a></li>
            <li><a><img src="assets/images/08.jpg"><div></div><h5>Dr.Paul Molive</h5></a></li>
            <li><a><img src="assets/images/09.jpg"><div></div><h5>Dr.Anna Mull</h5></a></li>
            <li><a><img src="assets/images/02.jpg"><h5>Dr.Anna Mull</h5></a></li>
            <li><a><img src="assets/images/04.jpg"><div></div><h5>Dr.Paul Molive</h5></a></li>
            <li><a><img src="assets/images/06.jpg"><h5>Dr.Anna Mull</h5></a></li>
            <li><a><img src="assets/images/01.jpg"><h5>Dr.Anna Mull</h5></a></li>
        </ul>
    </div>
    <div class="message">
    <div class="chat1">
        <div class="chat1-part1">
                <div class="chat-image">
                <a><img src="assets/images/01.jpg" ><h5>Dr.Anna Mull</h5><div></div> </a>
                </div>         
        <div class="chat-icon">
        <ul class="icon1">
        <li><a><i class="fa fa-refresh" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-envelope-o" aria-hidden="true"></i>
            </a></li>
        <li><a><i class="fa fa-trash" aria-hidden="true"></i>
            </a></li>
        <li><a><i class="fa fa-inbox" aria-hidden="true"></i>
             </a></li>
        <li><a><i class="fa fa-circle-o-notch" aria-hidden="true"></i>
             </a></li>
             <div class="clear-fix"></div>                    

        </ul>
        </div>   
        <div class="clear-fix"></div>                    
        </div>
        <div class="line"></div>
        <div class="chat1-part2">
          <div class="chat1-part21">
              <div class="chat1-part21-h5">
                <h5>How can We help?We're here for you!</h5>
              </div>
              <div class="chat1-part21-img">
                <img src="assets/images/02.jpg">
                <br>
                <span>6:30</span>
              </div>  
              <div class="clear-fix"></div>                             
          </div> 
           <div class="clear-fix"></div>                    

           <div class="chat1-part22">
            <div class="chat1-part21-h5">
                <h5>Hey John,Iam Looking For the best admin templet</h5>            
              </div>
              <div class="chat1-part21-img">
                <img src="assets/images/01.jpg">
                <br>
                <span>6:30</span>
              </div>  
              <div class="clear-fix"></div>
           </div> 
           <div class="clear-fix"></div>                    
           <div class="chat1-part23">
                    <div class="chat1-part21-h5">
                        <h5>absoulte!Xray Dashboard is the responsive</h5> 
                        </div>             
                            <div class="chat1-part21-img">
                        <img src="assets/images/02.jpg">
                        <br>
                        <span>6:30</span>
                      </div>  
                      <div class="clear-fix"></div>
           </div> 
           <div class="clear-fix"></div>                    
           <div class="chat1-part24">
            <div class="chat1-part21-h5">
                <h5>looks clean and fresh here</h5>   
                         </div>             
                    <div class="chat1-part21-img">
                <img src="assets/images/01.jpg">
                <br>
                <span>6:30</span>
              </div>  
              <div class="clear-fix"></div>
        </div> 
           <div class="clear-fix"></div>                    




           <div class="chat1-part21">
            <div class="chat1-part21-h5">
              <h5>How can We help?We're here for you!</h5>
            </div>
            <div class="chat1-part21-img">
              <img src="assets/images/02.jpg">
              <br>
              <span>6:30</span>
            </div>  
            <div class="clear-fix"></div>                             
        </div> 
         <div class="clear-fix"></div>                    

         <div class="chat1-part22">
          <div class="chat1-part21-h5">
              <h5>Hey John,Iam Looking For the best admin templet</h5>            
            </div>
            <div class="chat1-part21-img">
              <img src="assets/images/01.jpg">
              <br>
              <span>6:30</span>
            </div>  
            <div class="clear-fix"></div>
         </div> 
         <div class="clear-fix"></div>                    
         <div class="chat1-part23">
                  <div class="chat1-part21-h5">
                      <h5>absoulte!Xray Dashboard is the responsive</h5> 
                      </div>             
                          <div class="chat1-part21-img">
                      <img src="assets/images/02.jpg">
                      <br>
                      <span>6:30</span>
                    </div>  
                    <div class="clear-fix"></div>
         </div> 
         <div class="clear-fix"></div>                    
         <div class="chat1-part24">
          <div class="chat1-part21-h5">
              <h5>looks clean and fresh here</h5>   
                       </div>             
                  <div class="chat1-part21-img">
              <img src="assets/images/01.jpg">
              <br>
              <span>6:30</span>
            </div>  
            <div class="clear-fix"></div>
      </div> 
         <div class="clear-fix"></div>                  
         <div class="chat1-part21">
            <div class="chat1-part21-h5">
              <h5>How can We help?We're here for you!</h5>
            </div>
            <div class="chat1-part21-img">
              <img src="assets/images/02.jpg">
              <br>
              <span>6:30</span>
            </div>  
            <div class="clear-fix"></div>                             
        </div> 
        <div class="clear-fix"></div>                    

        <div class="chat1-part22">
         <div class="chat1-part21-h5">
             <h5>Hey John,Iam Looking For the best admin templet</h5>            
           </div>
           <div class="chat1-part21-img">
             <img src="assets/images/01.jpg">
             <br>
             <span>6:30</span>
           </div>  
           <div class="clear-fix"></div>
        </div> 
         <div class="clear-fix"></div>  
    </div>
    <div class="formm">
      <i class="fa fa-smile-o" aria-hidden="true"></i>

    <i class="fa fa-paperclip" aria-hidden="true"></i>

        <form [formGroup]='contactsForm' (ngSubmit)='saveform()'>
            <input type="text" placeholder="Type your message">
            <a routerLink='/gpsdata'><button [disabled]='contactsForm.invalid' type="submit" class="btn-btn-info">Send</button></a>
        </form>

    </div>
    <!-- <div class="clear-fix"></div>   -->

    <!-- <div class="line"></div> -->
       
    </div>
   <!-- end chat1 -->
   <div class="chat2">
    <div class="chat1-part1">
            <div class="chat-image">
            <a><img src="assets/images/04.jpg" ><h5>Dr.Anna Mull</h5><div></div> </a>
            </div>         
    <div class="chat-icon">
    <ul class="icon1">
    <li><a><i class="fa fa-refresh" aria-hidden="true"></i></a></li>
    <li><a><i class="fa fa-envelope-o" aria-hidden="true"></i>
        </a></li>
    <li><a><i class="fa fa-trash" aria-hidden="true"></i>
        </a></li>
    <li><a><i class="fa fa-inbox" aria-hidden="true"></i>
         </a></li>
    <li><a><i class="fa fa-circle-o-notch" aria-hidden="true"></i>
         </a></li>
         <div class="clear-fix"></div>                    

    </ul>
    </div>   
    <div class="clear-fix"></div>                    
    </div>
    <div class="line"></div>
    <div class="chat1-part2">
      <div class="chat1-part21">
          <div class="chat1-part21-h5">
            <h5>How can We help?We're here for you!</h5>
          </div>
          <div class="chat1-part21-img">
            <img src="assets/images/04.jpg">
            <br>
            <span>6:30</span>
          </div>  
          <div class="clear-fix"></div>                             
      </div> 
       <div class="clear-fix"></div>                    

       <div class="chat1-part22">
        <div class="chat1-part21-h5">
            <h5>Hey John,Iam Looking For the best admin templet</h5>            
          </div>
          <div class="chat1-part21-img">
            <img src="assets/images/01.jpg">
            <br>
            <span>6:30</span>
          </div>  
          <div class="clear-fix"></div>
       </div> 
       <div class="clear-fix"></div>                    
       <div class="chat1-part23">
                <div class="chat1-part21-h5">
                    <h5>absoulte!Xray Dashboard is the responsive</h5> 
                    </div>             
                        <div class="chat1-part21-img">
                    <img src="assets/images/04.jpg">
                    <br>
                    <span>6:30</span>
                  </div>  
                  <div class="clear-fix"></div>
       </div> 
       <div class="clear-fix"></div>                    
       <div class="chat1-part24">
        <div class="chat1-part21-h5">
            <h5>looks clean and fresh here</h5>   
                     </div>             
                <div class="chat1-part21-img">
            <img src="assets/images/01.jpg">
            <br>
            <span>6:30</span>
          </div>  
          <div class="clear-fix"></div>
    </div> 
       <div class="clear-fix"></div>                    




       <div class="chat1-part21">
        <div class="chat1-part21-h5">
          <h5>How can We help?We're here for you!</h5>
        </div>
        <div class="chat1-part21-img">
          <img src="assets/images/04.jpg">
          <br>
          <span>6:30</span>
        </div>  
        <div class="clear-fix"></div>                             
    </div> 
     <div class="clear-fix"></div>                    

     <div class="chat1-part22">
      <div class="chat1-part21-h5">
          <h5>Hey John,Iam Looking For the best admin templet</h5>            
        </div>
        <div class="chat1-part21-img">
          <img src="assets/images/01.jpg">
          <br>
          <span>6:30</span>
        </div>  
        <div class="clear-fix"></div>
     </div> 
     <div class="clear-fix"></div>                    
     <div class="chat1-part23">
              <div class="chat1-part21-h5">
                  <h5>absoulte!Xray Dashboard is the responsive</h5> 
                  </div>             
                      <div class="chat1-part21-img">
                  <img src="assets/images/04.jpg">
                  <br>
                  <span>6:30</span>
                </div>  
                <div class="clear-fix"></div>
     </div> 
     <div class="clear-fix"></div>                    
     <div class="chat1-part24">
      <div class="chat1-part21-h5">
          <h5>looks clean and fresh here</h5>   
                   </div>             
              <div class="chat1-part21-img">
          <img src="assets/images/01.jpg">
          <br>
          <span>6:30</span>
        </div>  
        <div class="clear-fix"></div>
  </div> 
     <div class="clear-fix"></div>                  
     <div class="chat1-part21">
        <div class="chat1-part21-h5">
          <h5>How can We help?We're here for you!</h5>
        </div>
        <div class="chat1-part21-img">
          <img src="assets/images/04.jpg">
          <br>
          <span>6:30</span>
        </div>  
        <div class="clear-fix"></div>                             
    </div> 
    <div class="clear-fix"></div>                    

    <div class="chat1-part22">
     <div class="chat1-part21-h5">
         <h5>Hey John,Iam Looking For the best admin templet</h5>            
       </div>
       <div class="chat1-part21-img">
         <img src="assets/images/01.jpg">
         <br>
         <span>6:30</span>
       </div>  
       <div class="clear-fix"></div>
    </div> 
     <div class="clear-fix"></div>  
</div>
<div class="formm">
  <i class="fa fa-smile-o" aria-hidden="true"></i>

<i class="fa fa-paperclip" aria-hidden="true"></i>

    <form [formGroup]='contactsForm' (ngSubmit)='saveform()'>
        <input type="text" placeholder="Type your message">
        <a routerLink='/gpsdata'><button [disabled]='contactsForm.invalid' type="submit" class="btn-btn-info">Send</button></a>
    </form>

</div>
<!-- <div class="clear-fix"></div>   -->

<!-- <div class="line"></div> -->
   
</div>
<!-- end chat2 -->

<div class="chat3">
  <div class="chat1-part1">
          <div class="chat-image">
          <a><img src="assets/images/03.jpg" ><h5>Dr.Anna Mull</h5><div></div> </a>
          </div>         
  <div class="chat-icon">
  <ul class="icon1">
  <li><a><i class="fa fa-refresh" aria-hidden="true"></i></a></li>
  <li><a><i class="fa fa-envelope-o" aria-hidden="true"></i>
      </a></li>
  <li><a><i class="fa fa-trash" aria-hidden="true"></i>
      </a></li>
  <li><a><i class="fa fa-inbox" aria-hidden="true"></i>
       </a></li>
  <li><a><i class="fa fa-circle-o-notch" aria-hidden="true"></i>
       </a></li>
       <div class="clear-fix"></div>                    

  </ul>
  </div>   
  <div class="clear-fix"></div>                    
  </div>
  <div class="line"></div>
  <div class="chat1-part2">
    <div class="chat1-part21">
        <div class="chat1-part21-h5">
          <h5>How can We help?We're here for you!</h5>
        </div>
        <div class="chat1-part21-img">
          <img src="assets/images/03.jpg">
          <br>
          <span>6:30</span>
        </div>  
        <div class="clear-fix"></div>                             
    </div> 
     <div class="clear-fix"></div>                    

     <div class="chat1-part22">
      <div class="chat1-part21-h5">
          <h5>Hey John,Iam Looking For the best admin templet</h5>            
        </div>
        <div class="chat1-part21-img">
          <img src="assets/images/01.jpg">
          <br>
          <span>6:30</span>
        </div>  
        <div class="clear-fix"></div>
     </div> 
     <div class="clear-fix"></div>                    
     <div class="chat1-part23">
              <div class="chat1-part21-h5">
                  <h5>absoulte!Xray Dashboard is the responsive</h5> 
                  </div>             
                      <div class="chat1-part21-img">
                  <img src="assets/images/03.jpg">
                  <br>
                  <span>6:30</span>
                </div>  
                <div class="clear-fix"></div>
     </div> 
     <div class="clear-fix"></div>                    
     <div class="chat1-part24">
      <div class="chat1-part21-h5">
          <h5>looks clean and fresh here</h5>   
                   </div>             
              <div class="chat1-part21-img">
          <img src="assets/images/01.jpg">
          <br>
          <span>6:30</span>
        </div>  
        <div class="clear-fix"></div>
  </div> 
     <div class="clear-fix"></div>                    




     <div class="chat1-part21">
      <div class="chat1-part21-h5">
        <h5>How can We help?We're here for you!</h5>
      </div>
      <div class="chat1-part21-img">
        <img src="assets/images/03.jpg">
        <br>
        <span>6:30</span>
      </div>  
      <div class="clear-fix"></div>                             
  </div> 
   <div class="clear-fix"></div>                    

   <div class="chat1-part22">
    <div class="chat1-part21-h5">
        <h5>Hey John,Iam Looking For the best admin templet</h5>            
      </div>
      <div class="chat1-part21-img">
        <img src="assets/images/01.jpg">
        <br>
        <span>6:30</span>
      </div>  
      <div class="clear-fix"></div>
   </div> 
   <div class="clear-fix"></div>                    
   <div class="chat1-part23">
            <div class="chat1-part21-h5">
                <h5>absoulte!Xray Dashboard is the responsive</h5> 
                </div>             
                    <div class="chat1-part21-img">
                <img src="assets/images/03.jpg">
                <br>
                <span>6:30</span>
              </div>  
              <div class="clear-fix"></div>
   </div> 
   <div class="clear-fix"></div>                    
   <div class="chat1-part24">
    <div class="chat1-part21-h5">
        <h5>looks clean and fresh here</h5>   
                 </div>             
            <div class="chat1-part21-img">
        <img src="assets/images/01.jpg">
        <br>
        <span>6:30</span>
      </div>  
      <div class="clear-fix"></div>
</div> 
   <div class="clear-fix"></div>                  
   <div class="chat1-part21">
      <div class="chat1-part21-h5">
        <h5>How can We help?We're here for you!</h5>
      </div>
      <div class="chat1-part21-img">
        <img src="assets/images/03.jpg">
        <br>
        <span>6:30</span>
      </div>  
      <div class="clear-fix"></div>                             
  </div> 
  <div class="clear-fix"></div>                    

  <div class="chat1-part22">
   <div class="chat1-part21-h5">
       <h5>Hey John,Iam Looking For the best admin templet</h5>            
     </div>
     <div class="chat1-part21-img">
       <img src="assets/images/01.jpg">
       <br>
       <span>6:30</span>
     </div>  
     <div class="clear-fix"></div>
  </div> 
   <div class="clear-fix"></div>  
</div>
<div class="formm">
<i class="fa fa-smile-o" aria-hidden="true"></i>

<i class="fa fa-paperclip" aria-hidden="true"></i>

  <form [formGroup]='contactsForm' (ngSubmit)='saveform()'>
      <input type="text" placeholder="Type your message">
      <a routerLink='/gpsdata'><button [disabled]='contactsForm.invalid' type="submit" class="btn-btn-info">Send</button></a>
  </form>

</div>
<!-- <div class="clear-fix"></div>   -->

<!-- <div class="line"></div> -->
 
</div>
    </div>
    <div class="clear-fix"></div>     
    
    </div>
</div>