<div class="bo">
    <app-navbar></app-navbar>
<div class="doctor-list">
    <h4>Docters List</h4>
</div>
<div class="doctors">
<div class="doctor1">
    <img src="assets/images/01.jpg">
    <h5>Dr.Anna Mull</h5>
    <p class="doctor-p">Cardiologists</p>
    <p class="doctor-a">www.demo.com</p>
    <p class="doctor-p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor non erat non gravida. In id ipsum consequat</p>
    <ul class="ic">
        <li class="icc"><a><i class="fa fa-facebook xxx" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-yahoo xxx" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-twitter xxx" aria-hidden="true"></i></a></li>
        <div class="clear-fix"></div>
    </ul>
    <a><button type="button">View Profile</button></a> 
</div>
<div class="doctor1">
    <img src="assets/images/05.jpg">
    <h5>Dr.Paul Molive</h5>
    <p class="doctor-p">Heart Surgeons</p>
    <p class="doctor-a">www.demo.com</p>
    <p class="doctor-p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor non erat non gravida. In id ipsum consequat</p>
    <ul class="ic">
        <li class="icc"><a><i class="fa fa-facebook xxx" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-yahoo xxx" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-twitter xxx" aria-hidden="true"></i></a></li>
        <div class="clear-fix"></div>

    </ul>
    <a><button type="button">View Profile</button></a> 
</div>
<div class="doctor1">
    <img src="assets/images/02.jpg">
    <h5>Dr.Terry Aki</h5>
    <p class="doctor-p">Medicine Specialists</p>
    <p class="doctor-a">www.demo.com</p>
    <p class="doctor-p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor non erat non gravida. In id ipsum consequat</p>
    <ul class="ic">
        <li class="icc"><a><i class="fa fa-facebook xxx" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-yahoo xxx" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-twitter xxx" aria-hidden="true"></i></a></li>
        <div class="clear-fix"></div>

    </ul>
    <a><button type="button">View Profile</button></a> 
</div>
<div class="doctor1">
    <img src="assets/images/06.jpg">
    <h5>Dr.Poppa Cherry</h5>
    <p class="doctor-p">Family Physicians</p>
    <p class="doctor-a">www.demo.com</p>
    <p class="doctor-p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor non erat non gravida. In id ipsum consequat</p>
    <ul class="ic">
        <li class="icc"><a><i class="fa fa-facebook xxx" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-yahoo xxx" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-twitter xxx" aria-hidden="true"></i></a></li>
        <div class="clear-fix"></div>
    </ul>
    <a><button type="button">View Profile</button></a> 
</div>
<div class="clear-fix"></div>
<div class="doctor2">
    <img src="assets/images/07.jpg">
    <h5>Dr.Poppa Cherry</h5>
    <p class="doctor-p">Family Physicians</p>
    <p class="doctor-a">www.demo.com</p>
    <p class="doctor-p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor non erat non gravida. In id ipsum consequat</p>
    <ul class="ic">
        <li class="icc"><a><i class="fa fa-facebook xxx" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-yahoo xxx" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-twitter xxx" aria-hidden="true"></i></a></li>
        <div class="clear-fix"></div>

    </ul>
    <a><button type="button">View Profile</button></a> 
</div>
<div class="doctor2">
    <img src="assets/images/08.jpg">
    <h5>Dr.Poppa Cherry</h5>
    <p class="doctor-p">Family Physicians</p>
    <p class="doctor-a">www.demo.com</p>
    <p class="doctor-p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor non erat non gravida. In id ipsum consequat</p>
    <ul class="ic">
        <li class="icc"><a><i class="fa fa-facebook xxx" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-yahoo xxx" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-twitter xxx" aria-hidden="true"></i></a></li>
        <div class="clear-fix"></div>

    </ul>
    <a><button type="button">View Profile</button></a> 
</div>
<div class="doctor2">
    <img src="assets/images/09.jpg">
    <h5>Dr.Poppa Cherry</h5>
    <p class="doctor-p">Family Physicians</p>
    <p class="doctor-a">www.demo.com</p>
    <p class="doctor-p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor non erat non gravida. In id ipsum consequat</p>
    <ul class="ic">
        <li class="icc"><a><i class="fa fa-facebook xxx" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-yahoo xxx" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-twitter xxx" aria-hidden="true"></i></a></li>
        <div class="clear-fix"></div>

    </ul>
    <a><button type="button">View Profile</button></a> 
</div>
<div class="doctor2">
    <img src="assets/images/10.jpg">
    <h5>Dr.Poppa Cherry</h5>
    <p class="doctor-p">Family Physicians</p>
    <p class="doctor-a">www.demo.com</p>
    <p class="doctor-p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor non erat non gravida. In id ipsum consequat</p>
    <ul class="ic">
        <li class="icc"><a><i class="fa fa-facebook xxx" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-yahoo xxx" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-twitter xxx" aria-hidden="true"></i></a></li>
        <div class="clear-fix"></div>

    </ul>
    <a><button type="button">View Profile</button></a> 
</div>
<div class="clear-fix"></div>
<div class="doctor3">
    <img src="assets/images/03.jpg">
    <h5>Dr.Poppa Cherry</h5>
    <p class="doctor-p">Family Physicians</p>
    <p class="doctor-a">www.demo.com</p>
    <p class="doctor-p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor non erat non gravida. In id ipsum consequat</p>
    <ul class="ic">
        <li class="icc"><a><i class="fa fa-facebook xxx" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-yahoo xxx" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-twitter xxx" aria-hidden="true"></i></a></li>
        <div class="clear-fix"></div>

    </ul>
    <a><button type="button">View Profile</button></a> 
</div>
<div class="doctor3">
    <img src="assets/images/01.jpg">
    <h5>Dr.Poppa Cherry</h5>
    <p class="doctor-p">Family Physicians</p>
    <p class="doctor-a">www.demo.com</p>
    <p class="doctor-p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor non erat non gravida. In id ipsum consequat</p>
    <ul class="ic">
        <li class="icc"><a><i class="fa fa-facebook xxx" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-yahoo xxx" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-twitter xxx" aria-hidden="true"></i></a></li>
        <div class="clear-fix"></div>

    </ul>
    <a><button type="button">View Profile</button></a> 
</div>
<div class="doctor3">
    <img src="assets/images/02.jpg">
    <h5>Dr.Poppa Cherry</h5>
    <p class="doctor-p">Family Physicians</p>
    <p class="doctor-a">www.demo.com</p>
    <p class="doctor-p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor non erat non gravida. In id ipsum consequat</p>
    <ul class="ic">
        <li class="icc"><a><i class="fa fa-facebook xxx" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-yahoo xxx" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-twitter xxx" aria-hidden="true"></i></a></li>
        <div class="clear-fix"></div>

    </ul>
    <a><button type="button">View Profile</button></a> 
</div>
<div class="doctor3">
    <img src="assets/images/04.jpg">
    <h5>Dr.Poppa Cherry</h5>
    <p class="doctor-p">Family Physicians</p>
    <p class="doctor-a">www.demo.com</p>
    <p class="doctor-p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor non erat non gravida. In id ipsum consequat</p>
    <ul class="ic">
        <li class="icc"><a><i class="fa fa-facebook xxx" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-yahoo xxx" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-twitter xxx" aria-hidden="true"></i></a></li>
        <div class="clear-fix"></div>

    </ul>
    <a><button type="button">View Profile</button></a> 
</div>
<div class="clear-fix"></div>
<div class="doctor4">
    <img src="assets/images/06.jpg">
    <h5>Dr.Poppa Cherry</h5>
    <p class="doctor-p">Family Physicians</p>
    <p class="doctor-a">www.demo.com</p>
    <p class="doctor-p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor non erat non gravida. In id ipsum consequat</p>
    <ul class="ic">
        <li class="icc"><a><i class="fa fa-facebook xxx" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-yahoo xxx" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-twitter xxx" aria-hidden="true"></i></a></li>
        <div class="clear-fix"></div>

    </ul>
    <a><button type="button">View Profile</button></a> 
</div>
<div class="doctor4">
    <img src="assets/images/09.jpg">
    <h5>Dr.Poppa Cherry</h5>
    <p class="doctor-p">Family Physicians</p>
    <p class="doctor-a">www.demo.com</p>
    <p class="doctor-p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor non erat non gravida. In id ipsum consequat</p>
    <ul class="ic">
        <li class="icc"><a><i class="fa fa-facebook xxx" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-yahoo xxx" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-twitter xxx" aria-hidden="true"></i></a></li>
        <div class="clear-fix"></div>

    </ul>
    <a><button type="button">View Profile</button></a> 
</div>
<div class="doctor4">
    <img src="assets/images/07.jpg">
    <h5>Dr.Poppa Cherry</h5>
    <p class="doctor-p">Family Physicians</p>
    <p class="doctor-a">www.demo.com</p>
    <p class="doctor-p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor non erat non gravida. In id ipsum consequat</p>
    <ul class="ic">
        <li class="icc"><a><i class="fa fa-facebook xxx" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-yahoo xxx" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-twitter xxx" aria-hidden="true"></i></a></li>
        <div class="clear-fix"></div>

    </ul>
    <a><button type="button">View Profile</button></a> 
</div>
<div class="doctor4">
    <img src="assets/images/08.jpg">
    <h5>Dr.Poppa Cherry</h5>
    <p class="doctor-p">Family Physicians</p>
    <p class="doctor-a">www.demo.com</p>
    <p class="doctor-p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor non erat non gravida. In id ipsum consequat</p>
    <ul class="ic">
        <li class="icc"><a><i class="fa fa-facebook xxx" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-yahoo xxx" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-twitter xxx" aria-hidden="true"></i></a></li>
        <div class="clear-fix"></div>

    </ul>
    <a><button type="button">View Profile</button></a> 
</div>
</div>







<app-footer></app-footer>


</div>
