<div class="bo">
    <div class="carou">
      <div class="skitter skitter-large">
        <ul>
          <li>
            <a href="#cut"><img src="assets/images/1.png" class="cut" /></a>
            <div class="label_text"><p>cut</p></div>
          </li>
          <li>
            <a href="#swapBlocks"><img src="assets/images/2.png" class="swapBlocks" /></a>
            <div class="label_text"><p>swapBlocks</p></div>
          </li>
          <li>
            <a href="#swapBarsBack"><img src="assets/images/3.png" class="swapBarsBack" /></a>
            <div class="label_text"><p>swapBarsBack</p></div>
          </li>
        </ul>
        
      </div>
      <h5>Manage Your Order</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  <div class="heade">
      <img src="assets/images/mail.png">
    <h5>Success !</h5>
    <p>A email has been send to youremail@domain.com. Please check for an email from company and click on the included link to reset your password.</p>
  <a routerLink='/gpsdata'><button type="submit" class="btn-btn-info">Back To Home</button></a>
</div>


</div>

</div>
