<div class="bo">
    <app-navbar></app-navbar>
<div class="cardd">
    <div class="container">
        <div class="row">
    <div class="card1 col-md-3">
     <div class="progress">
        <span class="bg-primary" data-percent="70" style="transition: height 2s ease 0s; width: 70%; height: 70%;"></span>    </div>
    <div class="para">
    <p>10 feb, 2020</p>
    <p>Hypertensive Crisis</p>
    <p>Ongoing treatment</p>
    </div>
    <div class="clear-fix"></div>
</div>
<div class="card1 col-md-3">
    <div class="progress">
        <span class="bg-danger" data-percent="50" style="transition: height 2s ease 0s;width: 92%; height: 50%;"></span>    </div>
   <div class="para">
   <p>10 feb, 2020</p>
   <p>Hypertensive Crisis</p>
   <p>Ongoing treatment</p>
   </div>
   <div class="clear-fix"></div>

</div>
<div class="card1 col-md-3">
    <div class="progress">
        <span class="bg-warning" data-percent="80" style="transition: height 2s ease 0s; width: 80%; height: 80%;"></span>    </div>
   <div class="para">
   <p>10 feb, 2020</p>
   <p>Hypertensive Crisis</p>
   <p>Ongoing treatment</p>
   </div>
   <div class="clear-fix"></div>
</div>
<div class="card1 col-md-2">
   <img src="assets/images/2.png">
</div>
<div class="clear-fix"></div>
</div>
</div>
</div>

<div class="container cale">
    <div class="row">
    <div class="calender col-md-4">
    <h5>Nearest Treatment</h5>
    <div class="line"></div>
<div class="calender-month">
   <span><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
<select>
      <option selected>January</option>
   <option *ngFor="let i of months">{{i}}</option>
   </select>
   <input class="numInput cur-year" type="number" tabindex="2013" value="2013" aria-label="Year"> 
   <span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>  
</div>
<div class="calender-day">
<span>sun</span>
<span>mon</span>
<span>tue</span>
<span>wed</span>
<span>thu</span>
<span>fri</span>
<span>sat</span>
</div>
<div class="January-days">
    <div class="January-days-first">
    <span class="first-day">29</span><br><br>
    <span>5</span><br><br>
    <span>12</span><br><br>
    <span>19</span><br><br>
    <span>26</span><br><br>
    <span>2</span><br><br>
    </div>
    <div class="January-days-first">
        <span class="first-day">30</span><br><br>
        <span>6</span><br><br>
        <span>13</span><br><br>
        <span>20</span><br><br>
        <span>27</span><br><br>
        <span>3</span><br><br>
        </div>
        <div class="January-days-first">
            <span  class="first-day">31</span><br><br>
            <span>7</span><br><br>
            <span>14</span><br><br>
            <span>21</span><br><br>
            <span>28</span><br><br>
            <span>4</span><br><br>
            </div>
            <div class="January-days-first">
                <span>1</span><br><br>
                <span>8</span><br><br>
                <span>15</span><br><br>
                <span>22</span><br><br>
                <span>29</span><br><br>
                <span>5</span><br><br>
            </div>
            <div class="January-days-first">
                <span>2</span><br><br>
                <span>9</span><br><br>
                <span>16</span><br><br>
                <span>23</span><br><br>
                <span>30</span><br><br>
                <span>6</span><br><br>
                </div>
                <div class="January-days-first">
                    <span>3</span><br><br>
                    <span>10</span><br><br>
                    <span>17</span><br><br>
                    <span>24</span><br><br>
                    <span>31</span><br><br>
                    <span>7</span><br><br>
                    </div>
                    <div class="January-days-first">
                        <span>4</span><br><br>
                        <span>11</span><br><br>
                        <span>18</span><br><br>
                        <span>25</span><br><br>
                        <span>1</span><br><br>
                        <span>8</span><br><br>
                        </div>
</div>









    </div>
    <div class="Countries col-md-3">
        <h5>Patient Progress</h5>
        <div class="line"></div>
          <div class="Patient-Progress">
              <div class="Patient-Progress-p">
                  <p>Bud Jet</p>
              </div>
              <div class="Patient-Progress-btn">
                  <button class="Progress-btn1">30%</button>
              </div>
              <div class="clear-fix"></div> 
          </div>
          <div class="Patient-Progress">
            <div class="Patient-Progress-p">
                <p>Barney Cull
                </p>
            </div>
            <div class="Patient-Progress-btn">
                <button class="Progress-btn2">70%</button>
            </div>
            <div class="clear-fix"></div> 
        </div>
        <div class="Patient-Progress">
            <div class="Patient-Progress-p">
                <p>Eric Shun</p>
            </div>
            <div class="Patient-Progress-btn">
                <button class="Progress-btn3">25%</button>
            </div>
            <div class="clear-fix"></div> 
        </div>
        <div class="Patient-Progress">
            <div class="Patient-Progress-p">
                <p>Rick Shaw
                </p>
            </div>
            <div class="Patient-Progress-btn">
                <button class="Progress-btn4">35%</button>
            </div>
            <div class="clear-fix"></div> 
        </div>
        <div class="Patient-Progress">
            <div class="Patient-Progress-p">
                <p>Ben Effit
                </p>
            </div>
            <div class="Patient-Progress-btn">
                <button class="Progress-btn5">45%</button>
            </div>
            <div class="clear-fix"></div> 
        </div>
        <div class="Patient-Progress">
            <div class="Patient-Progress-p">
                <p>Rick Shaw</p>
            </div>
            <div class="Patient-Progress-btn">
                <button class="Progress-btn6">55%</button>
            </div>
            <div class="clear-fix"></div> 
        </div>
        <div class="Patient-Progress">
            <div class="Patient-Progress-p">
                <p>Marge Arita</p>
            </div>
            <div class="Patient-Progress-btn">
                <button class="Progress-btn7">65%</button>
            </div>
            <div class="clear-fix"></div> 
        </div>
        <div class="Patient-Progress">
            <div class="Patient-Progress-p">
                <p>Barry Cudat
                </p>
            </div>
            <div class="Patient-Progress-btn">
                <button class="Progress-btn8">15%</button>
            </div>
            <div class="clear-fix"></div> 
        </div>
    </div>


    <div class="hospital-management col-md-4">
<h5>Visits From Countries</h5>
<div class="line"></div>
 <div class="Countries-progress">
     <div class="Countres">
         <p>United States</p>
     </div>
     <div class="Countries-precentage">
         <span>95%</span>
     </div>
     <div class="clear-fix"></div>
     <div class="progress progressb">
        <div class="progress-bar bg-info bg-info1" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
 </div>
 <div class="Countries-progress">
    <div class="Countres">
        <p>India</p>
    </div>
    <div class="Countries-precentage">
        <span>75%</span>
    </div>
    <div class="clear-fix"></div>
    <div class="progress progressb">
        <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
</div>

<div class="Countries-progress">
    <div class="Countres">
        <p>Australia</p>
    </div>
    <div class="Countries-precentage">
        <span>55%</span>
    </div>
    <div class="clear-fix"></div>
    <div class="progress progressb">
        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
</div>

<div class="Countries-progress">
    <div class="Countres">
        <p>Brazile</p>
    </div>
    <div class="Countries-precentage">
        <span>25%</span>
    </div>
    <div class="clear-fix"></div>
   <div class="progress progressb">
    <div class="progress-bar bg-success bg-success2 " role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
</div>
</div>
    </div>
</div>


<div class="container appoint">
<div class="row">
<div class="appointment col-md-8">
   <h5>New Appointments</h5>
   <div class="line"></div>
   <div class="Patient">
       <h6>Patient</h6>
       <p>Petey Cruiser</p>
       <p>Anna Sthesia</p>
       <p>Paul Molive</p>
       <p>Anna Mull</p>
       <p>Paige Turner</p>
       <p>Don Stairs</p>
       <p>Pat Agonia</p>
   </div> 
   <div class="doctor">
    <h6>doctor</h6>
    <p>Dr.Monty Carlo</p>
    <p>Dr.Pete Sariya</p>
    <p>Dr.Brock Lee</p>
    <p>Dr.Barb Ackue</p>
    <p>Dr.Walter Melon</p>
    <p>Dr.Arty Ficial</p>
    <p>Dr.Barb Ackue</p>
</div> 
<div class="date">
    <h6>date</h6>
    <p>20/02/2020</p>
    <p>25/02/2020</p>
    <p>25/02/2020</p>
    <p>27/02/2020</p>
    <p>28/02/2020</p>
    <p>1/03/2020</p>
    <p>2/03/2020</p>
</div> 
<div class="Timing">
    <h6>Timing</h6>
    <p>8:00 AM</p>
    <p>8:30 AM</p>
    <p>9:45 AM</p>
    <p>11:30 AM</p>
    <p>3:30 PM</p>
    <p>4:30 PM</p>
    <p>5:00 PM</p>
</div> 
<div class="contact ">
    <h6>contact</h6>
    <p>+1-202-555-0146</p>
    <p>+1-202-555-0164</p>
    <p>+1-202-555-0153</p>
    <p>+1-202-555-0153</p>
    <p>+1-202-555-0153</p>
    <p>+1-202-555-0153</p>
    <p>+1-202-555-0153</p>
</div> 
<div class="clear-fix"></div> 
</div>

<div class="doctors-list col-md-3">
<h5>Doctors List</h5>
<div class="line"></div>
<div class="doctors-names">
    <ul>
        <li data-class="chat1" class="selected"><a><img src="assets/images/01.jpg"><div></div><h5>Dr.Anna Mull</h5></a></li>
        <li data-class="chat2"><a><img src="assets/images/04.jpg"><h5>Dr.Paul Molive</h5></a></li>
        <li data-class="chat3"><a><img src="assets/images/03.jpg"><h5>Dr.Terry Akishe</h5></a></li>
        <li><a><img src="assets/images/09.jpg"><div></div><h5>Dr.Poppa Che</h5>
        </a></li>
        <li><a><img src="assets/images/05.jpg"><h5>Dr.Anna Mull</h5></a></li>
        <li><a><img src="assets/images/06.jpg"><div></div><h5>Dr.Terry Akishe</h5></a></li>
        <li><a><img src="assets/images/07.jpg"><h5>Dr.Poppa Che</h5></a></li>
        <li><a><img src="assets/images/08.jpg"><div></div><h5>Dr.Paul Molive</h5></a></li>
        <li><a><img src="assets/images/09.jpg"><div></div><h5>Dr.Anna Mull</h5></a></li>
        <li><a><img src="assets/images/02.jpg"><h5>Dr.Anna Mull</h5></a></li>
        <li><a><img src="assets/images/04.jpg"><div></div><h5>Dr.Paul Molive</h5></a></li>
        <li><a><img src="assets/images/06.jpg"><h5>Dr.Anna Mull</h5></a></li>
        <li><a><img src="assets/images/01.jpg"><h5>Dr.Anna Mull</h5></a></li>
    </ul>
</div>
<button class="btn">View All Doctors</button>
</div>
</div>
</div>





<app-footer></app-footer>



</div>
