<div class="dashboard" id="dashboard">
    <div class="dashboard-img"><img src="assets/images/logo.png"></div>
   <div class="ellipsis-h"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></div> 
    <div class="clear-fix"></div>
   <ul>
       <h5>dashboard</h5>
        <li><a routerLink='/introduction'  routerLinkActive='a'><i class="fa fa-home" aria-hidden="true"></i>
            Hospital </a></li>
        <li><a routerLink='/doctor' routerLinkActive='a'><i class="fa fa-user-md" aria-hidden="true"></i> Doctor</a></li>
        <li><a routerLink='/patiant' routerLinkActive='a'><i class="fa fa-user" aria-hidden="true"></i>
            Patiant</a></li><br>
        <h5>App</h5>
        <li><a routerLink='/alldoctor' routerLinkActive='a'><i class="fa fa-user-md" aria-hidden="true"></i> All Doctors</a></li>
        <li><a routerLink='/addDoctor' routerLinkActive='a'><i class="fa fa-plus-square-o" aria-hidden="true"></i>
            Add Doctor</a></li>
        <li><a routerLink='/editDoctor' routerLinkActive='a'><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            Edit Doctor</a></li>
        <li><a routerLink='/mail' routerLinkActive='a'><i class="fa fa-envelope" aria-hidden="true"></i>
            mail</a></li>

        <li><a routerLink='/chat' routerLinkActive='a'><i class="fa fa-comment" aria-hidden="true"></i>
            Chat</a></li>
            <li><a routerLink='/charts' routerLinkActive='a'><i class="fa fa-area-chart" aria-hidden="true"></i>
                Charts</a></li><br>    
            <h5>Authentication</h5>
            <li><a routerLink='/login' routerLinkActive='a'><i class="fa fa-sign-in" aria-hidden="true"></i>
                Login</a></li>
            <li><a routerLink='/signup' routerLinkActive='a'><i class="fa fa-sign-out" aria-hidden="true"></i>
                Register</a></li>
            <li><a routerLink='/recover' routerLinkActive='a'><i class="fa fa-ticket" aria-hidden="true"></i>
                Recover Pass</a></li>
            <li><a routerLink='/confirmMail' routerLinkActive='a'><i class="fa fa-check-circle" aria-hidden="true"></i>
                Confirm Mail</a></li>
                
            <li><a routerLink='/LockScreen' routerLinkActive='a'><i class="fa fa-lock" aria-hidden="true"></i>
                Lock Screen</a></li><br>
        <h5>Maps</h5>
        <li><a routerLink='/googleMap' routerLinkActive='a'><i class="fa fa-google" aria-hidden="true"></i>
            google map</a></li><br>
        <h5>Radiology results</h5>
        <li><a routerLink='/result' routerLinkActive='a'><i class="fa fa-bug" aria-hidden="true"></i> Results</a></li>
    </ul>
</div>